<div class='container' id='carousel'>
    <div class="row">
            <div class='col-lg-4' id='image'> 
                <div id="slideshow">
                    <% blogs.slice().reverse().forEach(function(blog){ %>
                    <div>
                        <img class='cover mainImage' src="<%= blog.image %>">
                        <span class='mainImageCaption'>
                            <% var date = new Date(blog.created); %>
                            <% var options = {weekday: "long", year: "numeric", month: "long", day: "numeric"};%>  
                            <span class='mainImageDate'><%= date.toLocaleDateString('en-us', options) %></span>
                            <p class='mainImageTitle'><%= blog.title %></p>
                        </span>
                    </div>
                    <% }) %>
                </div>
            </div>
            <div class='col-lg-4' id='image'> 
                <div id="slideshow1">
                    <% blogs.slice().forEach(function(blog){ %>
                    <div>
                        <img class='cover mainImage' src="<%= blog.image %>">
                        <span class='mainImageCaption'>
                            <% var date = new Date(blog.created); %>
                            <% var options = {weekday: "long", year: "numeric", month: "long", day: "numeric"};%>  
                            <span class='mainImageDate'><%= date.toLocaleDateString('en-us', options) %></span>
                            <p class='mainImageTitle'><%= blog.title %></p>
                        </span>
                    </div>
                    <% }) %>
                </div>
            </div>
            <div class='col-lg-4' id='image'> 
                <div id="slideshow2">
                    <% blogs.slice(-4).forEach(function(blog){ %>
                    <div>
                        <img class='cover mainImage' src="<%= blog.image %>">
                        <span class='mainImageCaption'>
                            <% var date = new Date(blog.created); %>
                            <% var options = {weekday: "long", year: "numeric", month: "long", day: "numeric"};%>  
                            <span class='mainImageDate'><%= date.toLocaleDateString('en-us', options) %></span>
                            <p class='mainImageTitle'><%= blog.title %></p>
                        </span>
                    </div>
                    <% }) %>    
                </div>
            </div>
        </div>
    </div>
    

