<% include ./partials/header %>
<% include ./partials/imagecarousel %>
<br>
<div class='ui container'>
   <% if(currentUser){ %>
        <a href='/posts/new' class='ui secondary small button'>New Post</a><p></p>
    <% } %>
    
<div class="ui stackable mobile grid">
    <div class="twelve wide column">
        <% blogs.reverse().slice(-3).forEach(function(blog){ %>
            <div class='border'>
                <div class='ui stackable mobile reversed grid'>
                <div class='nine wide column' id='preview'> 
                    <div class="meta">
                        <% var date = new Date(blog.created); %>
                        <% var options = {weekday: "long", year: "numeric", month: "long", day: "numeric"};%>  
                        <span id='date'><%= date.toLocaleDateString('en-us', options) %></span>
                    </div>
                    <div class="item" id='title'>
                        <h2><%= blog.title %></h2>
                    </div>
                    <div class="content">
                        <div class="description">
                            <p class='formattedText line-clamp'><%- blog.summary %>...</p>
                        </div>
                        <div id='postDetail'>
                        <hr id='postLine'>
                        <div class="extra">
                            <span id='category'>Topic: <%= blog.category1 %><% if(blog.category2){ %>, <% }; %><%= blog.category2 %><% if(blog.category3){ %>, <% }; %><%= blog.category3 %></span>
                            <a href="/posts/<%= blog._id %>" id='postLink'>Read More . . .</a>
                        </div>
                        </div>
                    </div> 
                </div>
                <div class='seven wide column' id='imageDiv'>
                    <div id="image">
                        <img class="cover" src="<%= blog.image %>">
                    </div>
                </div>
            </div>
            </div>
            <br>
        <% }) %>
        <div class='old'><a href='./categories/archive' id='old'>Older Posts ></a></div>
    </div>
    <% include ./partials/rightrail %><br>
</div>

<% include ./partials/footer %>