<% include ../partials/header %>

<div class='ui container'>
    <h2 class='category'>Interior Style</h2>
<div class="ui grid">
    <div class="twelve wide column">
        <% blogs.reverse().forEach(function(blog){ %>
                <% if(blog.category1 == 'Home Decor' || 
                      blog.category2 == 'Home Decor' || 
                      blog.category3 == 'Home Decor'
                      ){ %>
                    <% var date = new Date(blog.created); %>
       <% var date = new Date(blog.created); %>
        <% var options = {month: "long", day: "numeric", year: "numeric"};%>  
    <div id='blogTile'>
        <span id='previewDate'><%= date.toLocaleDateString('en-us', options) %></span>
        <h4 class="item" id='previewTitle'>
            <%= blog.title %>
        </h4>
        <div class="item">
            <img src="<%= blog.image %>" class="ui fluid image"  id='blogTileImage'>
        </div>
        <div class="item">
            <a href="/posts/<%= blog._id %>" class='ui default button' id='blogTileButton'>View Post</a>
        </div>
        <div class='item' id='previewCommentCount'>
            <%= blog.comments.length %> <% if(blog.comments.length === 1){ %>Comment
                <% } else { %>Comments<% } %>
        </div>
    </div>
<% } %>
<% }) %>
</div>
<% include ../partials/rightrail %>
</div>
<% include ../partials/footer %>