<% include ../partials/header %>

<div class='ui container'>
    <h2 class='category'>Motherhood</h2>
<div class="ui stackable mobile grid">
    <div class="twelve wide column" id='mainContent'>
        <div class="ui stackable four column grid">
        <% blogs.reverse().forEach(function(blog){ %>
                <% if(blog.category1 == 'Pregnancy' || 
                      blog.category1 == 'Littles' || 
                      blog.category1 == 'Mama Things' || 
                      blog.category1 == 'Baby Things' || 
                      blog.category1 == 'Kid Things' ||
                      blog.category1 == "Jolie's Journey" || 
                      blog.category2 == 'Pregnancy' || 
                      blog.category2 == 'Littles' || 
                      blog.category2 == 'Mama Things' || 
                      blog.category2 == 'Baby Things' ||
                      blog.category2 == 'Kid Things' || 
                      blog.category2 == "Jolie's Journey" || 
                      blog.category3 == 'Pregnancy' || 
                      blog.category3 == 'Littles' || 
                      blog.category3 == 'Mama Things' ||
                      blog.category3 == 'Baby Things' || 
                      blog.category3 == 'Kid Things' || 
                      blog.category3 == "Jolie's Journey"
                      ){ %>
    <% var date = new Date(blog.created); %>
        <% var options = {month: "long", day: "numeric", year: "numeric"};%> 
        <div class='column'>
    <div id='blogTile'>
        <span id='previewDate'><%= date.toLocaleDateString('en-us', options) %></span>
        <h4 class="item" id='previewTitle'>
            <%= blog.title %>
        </h4>
        <div class="item">
            <img src="<%= blog.image %>" class="ui fluid image"  id='blogTileImage'>
        </div>
        <div class="item">
            <a href="/posts/<%= blog._id %>" class='ui default button' id='blogTileButton'>View Post</a>
        </div>
        <div class='item' id='previewCommentCount'>
            <%= blog.comments.length %> <% if(blog.comments.length === 1){ %>Comment
                <% } else { %>Comments<% } %>
        </div></div>
    </div>
<% } %>
<% }) %>
</div></div>
<% include ../partials/rightrail %><br>
</div>
<% include ../partials/footer %>